/* main header */

@keyframes initHeader {

	/*0% {
		height: 100vh;
	}

	50% {
		height: 100vh;
	}

	100% {
		height: 50vh;
	}*/

	0% {
		height: 100vh;
	}

	50% {
		height: 100vh;
	}

	100% {
		height: 50vh;
	}

}

body.mobile > header {
	-webkit-animation: initHeader 1.4s cubic-bezier(1,0,.15,1) 0s 1;
	-o-animation: initHeader 1.4s cubic-bezier(1,0,.15,1) 0s 1;
	animation: initHeader 1.4s cubic-bezier(1,0,.15,1) 0s 1;
	flex-flow: row;
	height: 40vh;
	max-height: 100vh;
	min-height: 72px;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 1;
}

body.mobile > header > header,
body.mobile > header > footer {
	width: 100%;
	padding: 0;
}

/* main header header */

body.mobile > header > header {
	align-items: center;
	height: 100%;
	justify-content: center;
	position: absolute;
	z-index: 2;
	width: 100%;
	left: 0;
	top: 0;
}

/* logo */

@keyframes initLogo {

	0% {
		height: 0;
		opacity: 0;
	}

	100% {
		height: 100%;
		opacity: 1;
	}

}

body.mobile #nav-logo-wrapper #logo .lines {
	fill: #d32f2f;
}

body.mobile.active-nav #nav-logo-wrapper #logo .lines {
	fill: #fafafa;
}

body.mobile.active-nav #nav-logo-wrapper #logo #text {
	fill: #fafafa;
}

/* logo wrapper */
body.mobile.active-nav #nav-logo-wrapper,
body.mobile #logo-wrapper {
	-webkit-animation: initLogo 1s linear;
	-o-animation: initLogo 1s linear;
	animation: initLogo 1s linear;
	-webkit-transition: none;
	height: 100px;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	display: flex;
	justify-content: center;
	max-height: 100px;
	padding: 6px 0;
	z-index: 3;
}

body.mobile.active-nav #nav-logo-wrapper {
	display: none;
	height: 96px;
	max-height: 96px;
}

body.mobile #nav-logo-wrapper #logo {
	-webkit-transition: opacity .8s linear;
	-moz-transition: opacity .8s linear;
	-ms-transition: opacity .8s linear;
	-o-transition: opacity .8s linear;
	transition: opacity .8s linear;
	opacity: 0;
}

body.mobile.active-nav #nav-logo-wrapper #logo {
	opacity: 1;
}

body.mobile > header > header #logo {
	height: 100%;
}

body.mobile > header > footer,
body.mobile > header > ul {
	display: none;
}

body.mobile > header img {
	display: block;
}

/* main nav toggle */

body.mobile > header .toggle-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	height: 72px;
	width: 100%;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
	z-index: 3;
}

body.mobile > header .toggle {
	cursor: pointer;
	padding: 0 1.5em;
}

body.mobile > header .toggle [class^="icon-"]:before {
	font-size: 2em;
	margin: 0 0 0 2px;
}

body.mobile > header .toggle-wrapper .close,
body.mobile.active-nav > header .toggle-wrapper .open {
	display: none;
}

body.mobile.active-nav > header .toggle-wrapper .close {
	display: flex;
}

body.mobile.active-nav > header .toggle-wrapper .close.text {
	font-size: .75em;
	text-transform: uppercase;
	line-height: 1;
	font-weight: 700;
}

body.mobile.active-nav > header .toggle-wrapper {
	color: #ffffff;
}

/* main nav */

body.mobile > header .main-nav {
	-webkit-transform: translate3d(100%,0,0);
	-moz-transform: translate3d(100%,0,0);
	-ms-transform: translate3d(100%,0,0);
	-o-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	height: 100vh;
	position: fixed;
	width: 100%;
	z-index: 2;
}

@media (max-width: 36rem) {

	body.mobile > header .main-nav {
		background-color: #d32f2f;
		color: #ffffff;
	}

}

body.mobile.active-nav > header .main-nav {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

body.mobile.active-nav > header .main-nav header {
	height: 40vh;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
}

/* main menu */

body.mobile > header .main-menu-wrapper {
	top: 0;
	left: 0;
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 2;
	padding: 0 0 4.5em;
}

body.mobile.active-nav > header .main-menu > .menu-item {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* main nav transition */

body.mobile > header .main-nav {
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-ms-transition-property: transform;
	-o-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: .6s;
	-moz-transition-duration: .6s;
	-ms-transition-duration: .6s;
	-o-transition-duration: .6s;
	transition-duration: .6s;
	-webkit-transition-timing-function: cubic-bezier(1,0,.15,1);
	-moz-transition-timing-function: cubic-bezier(1,0,.15,1);
	-ms-transition-timing-function: cubic-bezier(1,0,.15,1);
	-o-transition-timing-function: cubic-bezier(1,0,.15,1);
	transition-timing-function: cubic-bezier(1,0,.15,1);
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-ms-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;
}

body.mobile.active-nav > header .main-nav {
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	-ms-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

body.mobile > header .main-menu > .menu-item {
	-webkit-transform: translate3d(100%,0,0);
	-moz-transform: translate3d(100%,0,0);
	-ms-transform: translate3d(100%,0,0);
	-o-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-ms-transition-property: transform;
	-o-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: .7s;
	-moz-transition-duration: .7s;
	-ms-transition-duration: .7s;
	-o-transition-duration: .7s;
	transition-duration: .7s;
	-webkit-transition-timing-function: cubic-bezier(1,0,.15,1);
	-moz-transition-timing-function: cubic-bezier(1,0,.15,1);
	-ms-transition-timing-function: cubic-bezier(1,0,.15,1);
	-o-transition-timing-function: cubic-bezier(1,0,.15,1);
	transition-timing-function: cubic-bezier(1,0,.15,1);
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

body.mobile > header .main-menu > .menu-item:nth-child(2) {
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;
	-ms-transition-delay: .1s;
	-o-transition-delay: .1s;
	transition-delay: .1s;
}

body.mobile > header .main-menu > .menu-item:nth-child(3) {
	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	-ms-transition-delay: .2s;
	-o-transition-delay: .2s;
	transition-delay: .2s;
}

body.mobile > header .main-menu > .menu-item:nth-child(4) {
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-ms-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;
}

body.mobile > header .main-menu > .menu-item:nth-child(5) {
	-webkit-transition-delay: .4s;
	-moz-transition-delay: .4s;
	-ms-transition-delay: .4s;
	-o-transition-delay: .4s;
	transition-delay: .4s;
}

body.mobile > header .main-menu > .menu-item:nth-child(6) {
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-ms-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;
}

/* main */

body.mobile main {
	left: 0;
	margin: .5rem 0;
	width: 100%;
}

body.mobile main > .block {
	padding: 1.5em 1.5em 2.25em;
}

/* gallery */

body.mobile main > #hero-gallery.block {
	height: 57vh;
	max-height: 57vh;
	min-height: 57vh;
	margin: 0;
}
